<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="col-sm-6 my-3 " style="margin:auto">
        <form method="post" th:action="@{/passwordChange}">
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="New password">
            </div>
            <button type="submit" style="width:100%" class="btn btn-primary">Confirm</button>
        </form>
        <a href="/myAccount" class="btn btn-link my-2">Go back</a>
    </div>
</div>

</body>
</html>