<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>Home</title>
    <style type="text/css">
        body{
            background-color:rgb(210, 230, 255)
        }
    </style>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="row">
        <div class="col-md-8 my-3">
            <div th:each="post : ${posts}" class="d-flex flex-nowrap bg-white my-2 rounded">
                <div style="width:40px;">
                    <span style="display:block; width:100%" class="text-align-center " >
                         <form th:action="@{'/vote/' + ${post.id}}" method="post">
                            <input type="hidden" name="home" th:value="home">
                            <input type="hidden" name="subreddit" th:value="${post.subreddit.getTitle()}">
                            <input type="hidden" name="vote" th:value="upvote">
                            <button type="submit" class="btn bg-white upvote" style="width:100%" th:disabled="${post.getUserLikes().contains(user)}"><i class="fas fa-angle-up"></i></button>
                         </form>
                    </span>
                    <span style="width:100%; display:block" class="text-align-center ">
                        <div th:text="${post.likes}" style="width:100%; text-align:center"></div>
                    </span>
                    <span style="display:block;" class="text-align-center">
                        <form th:action="@{'/vote/' + ${post.id}}" method="post">
                            <input type="hidden" name="home" th:value="home">
                            <input type="hidden" name="subreddit" th:value="${post.subreddit.getTitle()}">
                            <input type="hidden" name="vote" th:value="downvote">
                            <button type="submit" class="btn bg-white downvote" style="width:100%" th:disabled="${post.getUserLikes().contains(user)}"><i class="fas fa-angle-down"></i></button>
                        </form>
                    </span>
                </div>
                <div class="bg-white mb-2 rounded">
                    <a th:href="@{'/r/' + ${post.subreddit.getTitle()}}" class="font-weight-bold small" style="display:inline-block" th:text="'r/' + ${post.subreddit.getTitle()}"></a>
                    <div class="font-weight-light small" style="display:inline-block">Posted by</div>
                    <form action="/userProfile" method="post" class="py-2 bg-white" style="display:inline-block">
                        <input type="hidden" name="userProfile" th:value="${post.owner.getUName()}">
                    </form>
                    <a th:href="@{'/u/' + ${post.owner.getUName()}}" style="display:inline-block"><div class="font-weight-light small" th:text="'u/' + ${post.owner.getUName()}"></div></a>
                    <h4 th:text="${post.title}"></h4>
                    <div th:text="${post.comment}"></div>
                </div>
            </div>
        </div>
        <!--<div class="col-md-4 my-3 rounded" >
            <h3 class="bg-white">Home</h3>
            <p class="bg-white">Your personal Reddit frontpage. Come here to check in with your favorite communities.</p>
            <a class="btn btn-success px-2 bg-white " th:href="submit" style="width:100%">Create Post</a>
            <a class="btn btn-success mt-2 bg-white rounded-bottom" th:href="createSubreddit" style="width:100%">Create Community</a>
        </div>-->
        <div class="col-md-4 my-3">
            <div class="bg-primary text-white text-center py-2 rounded-top">HOME</div>
            <div class="p-2 bg-white">Your personal Reddit frontpage. Come here to check in with your favorite communities.</div>
            <form action="/createSubreddit" method="get" class="px-2 py-1 bg-white">
                <button type="submit" class="btn btn-primary" style="width:100%">Create Community</button>
            </form>
            <div class="p-2 bg-white rounded-bottom">
                <a class="btn btn-primary" th:href="@{/submit}" style="width:100%">Create Post</a>
            </div>
        </div>
    </div>
</div>


</body>
</html>